.config
.config.old
build/
build-*/
.deps
env
.cache/
.marscode/
tmp/
example/mp3_player/doc/.obsidian
example/mp3_player/SquareLine/backup/
example/mp3_player/SquareLine/cache/
example/mp3_player/SquareLine/boards/
example/mp3_player/SquareLine/examples/
